body {
	font-family: 'Raleway', sans-serif;
	color: #dedede;
	background-color: #222222;
}

form {
	display: inline;
}

h1 {
	margin:20px 40%;
}

h2 {
	margin-left: 40%;
}

.post {
	margin: 20px 40%;
}

#sitetitle h1 {
	color: #222222;
	position: fixed;
	font-size: 70px;
	width: 100%;
	text-align: center;
	top: 40%;
	margin-left: -27.3%;
	font-weight:800;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

#sidebar {
	position: fixed;
	z-index: 99;
	margin: 0px;
	left: 0px;
	top: 0px;
	width: 25%;
	height: 100%;
	background-color: #374b81;
}

#sidebar img {
	width: 70%;
	height: auto;
}

#sidecontent {
	margin-left: 8px;
}

#content {
	background-color: #dddddd;
	color: black;
	width: 400px;
	padding: 10px 20px;
	border: 2px solid #a1a1a1;
	border-radius: 15px;
	margin-top: 3px;
}

#poster {
	margin-top: 4px;
	margin-bottom: -20px;
}

#postcreator {
	margin: 20px 40%;
}

textarea{
	margin-bottom: 5px;
	border-radius: 5px;
	padding-left: 5px;
}

h3 {
	color: #42599a;
	margin: auto;
}

a {
	color: #73bbfc;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}
